<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>Welcome to Instastart</h2>
    <p>
    Many  people  want  to  showcase  impressive  projects  of  theirs  (on a resumé  for example)  but for 
reasons from  motivation  to  organization, these people  fail  to  get far with  their efforts (lacking  
resolve). They  are stymied by  the broad scope and deep  investment  of  a full-effort project.  
With  the right initial commitment, people  will  be  able  to  take  a project from  inception to  
deployment. Instastart sets people  up  on  a proper  springboard for starting  their assignment, and 
helps pass  the crucial starting  hurdles that  can make  or  break a resolution  to  
complete  a project</a>.
    </p>
  </ion-content>
</ion-view>
